In [29]:
#scaling in ml
import pandas as pd
import numpy as np
data={'Price':[110, 105, 115, 120, 110, 130, 150, 100, 103]}
df= pd.DataFrame(data)
df.head(9)

   Price
0    110
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    103

In [31]:

#Normalization
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df['price_scaled'] = scaler.fit_transform(df[['Price']])
df.head(9)

   Price  scaler_abs  price_scaled
0    110    0.733333          0.20
1    105    0.700000          0.10
2    115    0.766667          0.30
3    120    0.800000          0.40
4    110    0.733333          0.20
5    130    0.866667          0.60
6    150    1.000000          1.00
7    100    0.666667          0.00
8    103    0.686667          0.06

In [32]:
#Standard scaler
from sklearn.preprocessing import StandardScaler
std= StandardScaler()
df['price_scaled_std']= std.fit_transform(df[['Price']])
df.head(9)

   Price  scaler_abs  price_scaled  price_scaled_std
0    110    0.733333          0.20         -0.396340
1    105    0.700000          0.10         -0.732855
2    115    0.766667          0.30         -0.059825
3    120    0.800000          0.40          0.276690
4    110    0.733333          0.20         -0.396340
5    130    0.866667          0.60          0.949720
6    150    1.000000          1.00          2.295780
7    100    0.666667          0.00         -1.069370
8    103    0.686667          0.06         -0.867461

In [33]:
#Robust scaler
from sklearn.preprocessing import RobustScaler
df['price_scaled_robust']= RobustScaler().fit_transform(df[['Price']])
df.head(9)

   Price  scaler_abs  price_scaled  price_scaled_std  price_scaled_robust
0    110    0.733333          0.20         -0.396340             0.000000
1    105    0.700000          0.10         -0.732855            -0.333333
2    115    0.766667          0.30         -0.059825             0.333333
3    120    0.800000          0.40          0.276690             0.666667
4    110    0.733333          0.20         -0.396340             0.000000
5    130    0.866667          0.60          0.949720             1.333333
6    150    1.000000          1.00          2.295780             2.666667
7    100    0.666667          0.00         -1.069370            -0.666667
8    103    0.686667          0.06         -0.867461            -0.466667

In [34]:
#Log Transform
from sklearn.preprocessing import FunctionTransformer
df['log_price']= FunctionTransformer(np.log1p).fit_transform(df[['Price']])
df.head(9)

,Price,scaler_abs,price_scaled,price_scaled_std,price_scaled_robust,log_price
0,110,0.733333,0.20,-0.396340,0.000000,4.709530
1,105,0.700000,0.10,-0.732855,-0.333333,4.663439
2,115,0.766667,0.30,-0.059825,0.333333,4.753590
3,120,0.800000,0.40,0.276690,0.666667,4.795791
4,110,0.733333,0.20,-0.396340,0.000000,4.709530
5,130,0.866667,0.60,0.949720,1.333333,4.875197
6,150,1.000000,1.00,2.295780,2.666667,5.017280
7,100,0.666667,0.00,-1.069370,-0.666667,4.615121
8,103,0.686667,0.06,-0.867461,-0.466667,4.644391

In [41]:
#Max absolute Scaler
from sklearn.preprocessing import MaxAbsScaler
scaler= MaxAbsScaler()
df['max_abs']= scaler.fit_transform(df[['Price']])
df.head(9)

,Price,scaler_abs,price_scaled,price_scaled_std,price_scaled_robust,log_price,max_abs
0,110,0.733333,0.20,-0.396340,0.000000,4.709530,0.733333
1,105,0.700000,0.10,-0.732855,-0.333333,4.663439,0.700000
2,115,0.766667,0.30,-0.059825,0.333333,4.753590,0.766667
3,120,0.800000,0.40,0.276690,0.666667,4.795791,0.800000
4,110,0.733333,0.20,-0.396340,0.000000,4.709530,0.733333
5,130,0.866667,0.60,0.949720,1.333333,4.875197,0.866667
6,150,1.000000,1.00,2.295780,2.666667,5.017280,1.000000
7,100,0.666667,0.00,-1.069370,-0.666667,4.615121,0.666667
8,103,0.686667,0.06,-0.867461,-0.466667,4.644391,0.686667